
.main {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.work {
  display: flex;
}

.field {
  background-color: rgba(27, 154, 177, 0.473);
  width: 10px;
  height: 10px;
  padding: 1px;
  border: 1px solid rgba(64, 86, 92, 0.329);
}

.one {
  transition-duration: 0.5s;
  background-color: rgb(228, 66, 220);
}

